@charset "UTF-8";

#my_form {
	background: rgb(204, 204, 204);
	margin: 10px;
	margin-left: auto;
	margin-right: auto;
	width: 50%;
	padding: 10px;
	border: 2px solid rgb(255, 128, 64);
	border-radius: 15px;
}

input[type=text], textarea {
	width: 80%;
	resize: none;
}

input[type=submit] {
	background: green;
	color: white;
	border: none;
	width: 140px;
	height: 40px;
	font-size: 15px;
}

input[type=submit]:hover {
	background: #004d00;
	color: white;
	border: none;
	width: 140px;
	height: 40px;
	font-size: 15px;
}